* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none !important;
}

img {
    border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px !important;
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Lobster&family=Poppins:wght@300&display=swap');

body{
    font-family: Poppins;
}
/*font-family ends*/
:root {
    --primary-color: #55b2ff;
    --secondary-color: #f5b43c;
    --text-color: #464646;
    --white-color: #ffffff;
    --red-color: #fc283d;
    --blue-color: #0695ee;
}

.small-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid var(--primary-color);
    margin-top: 50px;
    border-radius: 20px;
}

.title{
    font-family: Kurale;
    text-align: center;
    font-size: 40px;
    color: var(--red-color);
    padding: 50px 0px;
}